@charset "UTF-8";
/* css/src/layout_001.css */

/* reset.css */
body{
  margin:0;
}
/* design.css */

#wrap {
  width:100%; height:auto;
  margin:0 auto;
}

/* #header ========================== */
#header{
  width: 100%; height:100%;
  margin:auto;
  background-color:#f07;
}

/* #section =========================== */
#section{
  width:100%; height:100%;
  background:#fa0;
}

/* #footer ============================ */
#footer{
  width:inherit; height:100px;
  background-color:#03f;
}

/**
* CSS에서
  width:auto -> 가로크기 100%,
  height:auto -> 자식요소의 크기만큼 - 자식의 크기를 따른다

*/

